[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyyaml = "*"
python-dateutil = "*"
docopt = "*"
yamale = "*"


[dev-packages]

pytest = "*"
mypy = "*"
yapf = "*"
pipenv = "*"
snapshottest = "*"


[requires]

python_version = "3.6"
