[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyyaml = "*"
docopt = "*"
ciso8601 = "*"

[dev-packages]

pytest = "*"
mypy = "*"
yapf = "*"
pipenv = "*"
twine = "*"
pytest-cov = "*"
python-coveralls = "*"
"boto3" = "*"
pip = "*"


[requires]

python_version = "3.6"
